@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-color: initial;
  }
  body {
    font-family: "Kanit", sans-serif;
    font-style: normal;
  }
}
